._4t3i1jdh {
  height: 9rem;
}
._1e0c1txw {
  display: flex;
}
._4cvr1h6o {
  align-items: center;
}
._ca0qidpf {
  padding-top: 0;
}
._u5f31wto {
  padding-right: 3rem;
}
._n3tdidpf {
  padding-bottom: 0;
}
._19bv1wto {
  padding-left: 3rem;
}
._1pbykb7n {
  z-index: 1;
}
._kqswstnw {
  position: absolute;
}
._154iidpf {
  top: 0;
}
._1ltvidpf {
  left: 0;
}
._1xi2idpf {
  right: 0;
}
._19pkidpf {
  margin-top: 0;
}
._2hwx1wug {
  margin-right: auto;
}
._otyridpf {
  margin-bottom: 0;
}
._18u01wug {
  margin-left: auto;
}
._p12f1us4 {
  max-width: 140rem;
}
._n7zl1fc7 {
  border-bottom: 1px solid var(--_1gpyhvo);
}
._syaz14aq {
  color: var(--_1p69eoh);
}
._4bfu1r31 {
  -webkit-text-decoration-color: currentColor;
  text-decoration-color: currentColor;
}
._1hmsglyw {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}
._ajmmnqa1 {
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
}
._syaz1r31 {
  color: currentColor;
}
._1wyb12bs {
  font-size: 4rem;
}
._ect4orma {
  font-family: 'Noto Sans', sans-serif;
}
._1wyb8pqr {
  font-size: 2.5rem;
}
._k48pni7l {
  font-weight: 600;
}
._154idzkh {
  top: -99999px;
}
._1bsbt94y {
  width: 1px;
}
._4t3it94y {
  height: 1px;
}
._tzy4idpf {
  opacity: 0;
}
._lcxvglyw {
  pointer-events: none;
}
._19pkyf3r {
  margin-top: var(--_1g0t409);
}
._otyryf3r {
  margin-bottom: var(--_1g0t409);
}
._6sd61q1l._6sd61q1l > * {
  margin-right: var(--_4cpxcj);
}
._1heridpf._1heridpf > *:last-child {
  margin-right: 0;
}
._ca0q1j6v {
  padding-top: 1rem;
}
._u5f31pqo {
  padding-right: 0.5rem;
}
._n3td1j6v {
  padding-bottom: 1rem;
}
._19bv1pqo {
  padding-left: 0.5rem;
}
._1wybexct {
  font-size: 16px;
}
._xjm01nkr._xjm01nkr:last-child {
  margin-right: -0.5rem;
}
._kqswh2mm {
  position: relative;
}
._1reo15vq {
  overflow-x: hidden;
}
._18m915vq {
  overflow-y: hidden;
}
._11q72s6k {
  background: repeating-linear-gradient(
    35deg,
    rgba(101, 84, 192, 0.0185),
    rgba(101, 84, 192, 0.037) 250px,
    rgba(101, 84, 192, 0.055499999999999994) 250px,
    rgba(101, 84, 192, 0.074) 500px
  );
}
._y44v13h9 {
  -webkit-animation: 50s move;
  animation: 50s move;
}
._1o51q7pw {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
._11q7w136 {
  background: linear-gradient(120deg, #6554c0 0%, #ff7452 100%);
}
._1ltvqkx9 {
  left: -50%;
}
._94n5idpf {
  bottom: 0;
}
._1pby1mrw {
  z-index: -1;
}
._y3gn1c44 {
  text-align: var(--_1hz1fwz);
}
._169r1q1l._169r1q1l > * {
  margin-bottom: var(--_4cpxcj);
}
._1wzbidpf._1wzbidpf > *:last-child {
  margin-bottom: 0;
}
._k48pbfng {
  font-weight: 500;
}
._2hwxidpf {
  margin-right: 0;
}
._18u0idpf {
  margin-left: 0;
}
._tzy4n8xv {
  opacity: 0.9;
}
._19pkmxpn {
  margin-top: 6rem;
}
[data-look='h100']._ef6wfyhu {
  font-size: 48px;
}
[data-look='h100']._3nvw8vuz {
  line-height: 56px;
}
[data-look='h200']._s97z14no {
  font-size: 36px;
}
[data-look='h200']._1ban1ady {
  line-height: 44px;
}
[data-look='h300']._5hgebfng {
  font-weight: 500;
}
[data-look='h300']._qhua1tcg {
  font-size: 24px;
}
[data-look='h300']._njzk1vi7 {
  line-height: 32px;
}
[data-look='h300']._7qb71ahb {
  letter-spacing: 0.3px;
}
[data-look='h600']._tb2tgktf {
  font-size: 20px;
}
[data-look='h600']._1xj91tcg {
  line-height: 24px;
}
[data-look='h600']._cdni1ahb {
  letter-spacing: 0.3px;
}
[data-look='h400']._1yndbfng {
  font-weight: 500;
}
[data-look='h400']._1ri2dlk8 {
  font-size: 14px;
}
[data-look='h400']._3fa3gktf {
  line-height: 20px;
}
[data-look='h400']._rholangw {
  text-transform: uppercase;
}
[data-look='h400']._12sht94y {
  letter-spacing: 1px;
}
[data-look='h400']._1as6tqnc {
  color: #7a869a;
}
[data-look='h500']._g1kv1fwx {
  font-size: 12px;
}
[data-look='h500']._386hf6fq {
  line-height: 18px;
}
[data-look='h500']._1wj1angw {
  text-transform: uppercase;
}
[data-look='h500']._jb4nt94y {
  letter-spacing: 1px;
}
[data-look='h500']._uyg7tqnc {
  color: #7a869a;
}
[data-look='h500']._4qn0idpf {
  margin-top: 0;
}
._syaz1lb5 {
  color: rgba(255, 255, 255, 0.75);
}
._p12f12it {
  max-width: 75%;
}
._1e0c1ule {
  display: block;
}
._1e0cglyw {
  display: none;
}
._ca0qftgi {
  padding-top: 8px;
}
._u5f31fwx {
  padding-right: 12px;
}
._n3tdftgi {
  padding-bottom: 8px;
}
._19bv1fwx {
  padding-left: 12px;
}
._80omtlke {
  cursor: pointer;
}
._tzy41tu5 {
  opacity: var(--_14wmbg0);
}
._13lii2wt {
  border-top-left-radius: 6px;
}
._qrwqi2wt {
  border-top-right-radius: 6px;
}
._1dit1r31:hover,
._nt751r31:focus {
  outline-color: currentColor;
}
._ksodglyw:hover,
._49pcglyw:focus {
  outline-style: none;
}
._4hz81o36:hover,
._1hvw1o36:focus {
  outline-width: medium;
}
._16l41h4q:hover,
._1h7h1h4q:focus {
  opacity: var(--_b2li00);
}
._bfhk1j28 {
  background-color: transparent;
}
._19itglyw {
  border: none;
}
._n35hojg3._n35hojg3._n35hojg3 * {
  color: var(--_1nxk0z9);
}
._j5dh13gf:disabled {
  cursor: not-allowed;
}
._16qs1x9f {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 12px 24px -6px,
    rgba(9, 30, 66, 0.31) 0px 0px 1px;
}
._2rkoftgi {
  border-radius: 8px;
}
._1o9zidpf {
  flex-shrink: 0;
}
._2rko18kh {
  border-radius: 5px 5px 0 0;
}
._1bsb1iso {
  width: var(--_1n0mt0d);
}
._ca0q1k8s {
  padding-top: 1.5rem;
}
._u5f31k8s {
  padding-right: 1.5rem;
}
._n3td1k8s {
  padding-bottom: 1.5rem;
}
._19bv1k8s {
  padding-left: 1.5rem;
}
._11q7r60w {
  background: var(--_1jlk5m5);
}
._y3gn1h6o {
  text-align: center;
}
._1p1dangw {
  text-transform: uppercase;
}
._1wyb1skh {
  font-size: 11px;
}
._syaz9j60 {
  color: var(--_xhi58l);
}
._12ji1r31 {
  outline-color: currentColor;
}
._1qu2glyw {
  outline-style: none;
}
._12y31o36 {
  outline-width: medium;
}
._idui1osq > * {
  width: 100%;
}
._1bt9idpf > * {
  flex-shrink: 0;
}
._1opl1ule > :first-child {
  display: block;
}
._1oybglyw > :last-child {
  display: none;
}
._iy7qglyw[data-is-shown='true'] > :first-child {
  display: none;
}
._17in1ule[data-is-shown='true'] > :last-child {
  display: block;
}
._bfhkrirn {
  background-color: var(--_1g5gjyr);
}
._4t3ijyhb {
  height: var(--_1786383);
}
._1wybviql {
  font-size: 2rem;
}
._bfhkw1l4 {
  background-color: rgb(37, 56, 88);
}
._16qs1crh {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 12px 24px -6px,
    rgba(9, 30, 66, 0.31) 0px 0px 1px;
}
._2rko1atx {
  border-radius: var(--_x7w4bx);
}
._1reo1wug {
  overflow-x: auto;
}
._18m91wug {
  overflow-y: auto;
}
._bfhku67f {
  background-color: #fff;
}
._2rkopi3f {
  border-radius: 0 0 5px 5px;
}
._ca0q1pqo {
  padding-top: 0.5rem;
}
._n3td1pqo {
  padding-bottom: 0.5rem;
}
._1tker5k8 {
  min-height: 65px;
}
._1itkshsi {
  background-image: linear-gradient(45deg, #f4f5f7 25%, transparent 25%),
    linear-gradient(-45deg, #f4f5f7 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f4f5f7 75%),
    linear-gradient(-45deg, transparent 75%, #f4f5f7 75%);
}
._1lrwmp9v {
  background-size: 20px 20px;
}
._ouxl4ovd {
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
._15x71wug [data-button] {
  margin-left: auto;
}
._2rko1l7b {
  border-radius: 3px;
}
._u5f319bv {
  padding-right: 10px;
}
._19bv19bv {
  padding-left: 10px;
}
._bfhk1mzw {
  background-color: #6554c0;
}
._syazu67f {
  color: #fff;
}
._k48p1nn1 {
  font-weight: 400;
}
._ect41kw7 {
  font-family: inherit;
}
._1wybdlk8 {
  font-size: 14px;
}
._tzy41sq4 {
  opacity: var(--_eri4ap);
}
._lcxv13q2 {
  pointer-events: var(--_1ol1hsq);
}
._v5641akc {
  transition: opacity 50ms;
}
._154i14y2 {
  top: 5px;
}
._1ltv14y2 {
  left: 5px;
}
._p12f1pqo {
  max-width: calc(100% - 140px);
}
._19pk163v {
  margin-top: 10rem;
}
._bfhku66z {
  background-color: rgba(23, 43, 77, 0.7);
}
._ca0q8pqr {
  padding-top: 2.5rem;
}
._u5f3idpf {
  padding-right: 0;
}
._n3td8pqr {
  padding-bottom: 2.5rem;
}
._19bvidpf {
  padding-left: 0;
}
._r0tzidpf pre {
  margin-top: 0;
}
._282kidpf pre {
  margin-right: 0;
}
._1dlcidpf pre {
  margin-bottom: 0;
}
._1gq2idpf pre {
  margin-left: 0;
}
._1oihidpf pre {
  padding-top: 0;
}
._14qbidpf pre {
  padding-right: 0;
}
._zn46idpf pre {
  padding-bottom: 0;
}
._1jxkidpf pre {
  padding-left: 0;
}
._syazvnas {
  color: rgb(204, 204, 204);
}
._ect4suxz {
  font-family: 'SFMono-Medium', 'SF Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Ubuntu Mono', Menlo, Consolas, Courier, monospace;
}
._1kt9uxef:before {
  content: '➜  ~ ';
}
._is061a71:before {
  color: #79f2c0;
}
._dsq4glyw:before {
  pointer-events: none;
}
._1cs8stnw:before {
  position: absolute;
}
._qnecr8pp:before {
  left: -50px;
}
._154pidpf:before {
  opacity: 0;
}
._1kt91x28:before {
  content: '🔗';
}
._qnec1dn3:before {
  left: -4rem;
}
._l5lo1wto:before {
  font-size: 3rem;
}
._7dwz196n:before {
  transform: translateX(1rem);
}
._pdyk16fl:before {
  transition: opacity 100ms, transform 100ms;
}
._p7f01lev:before {
  padding-right: 5rem;
}
._1aukyh40:before {
  top: 2px;
}
._19woidpf:before {
  bottom: 0;
}
._cfu11txw:before {
  display: flex;
}
._19o6esu3:before {
  align-items: flex-end;
}
._r3ldkb7n:hover:before {
  opacity: 1;
}
._19siglyw:hover:before {
  transform: none;
}
._19pk1wto {
  margin-top: 3rem;
}
._otyr1wto {
  margin-bottom: 3rem;
}
._166omxpn + h2 {
  margin-top: 6rem;
}
._syaz9ron {
  color: var(--_6oohme);
}
._syaz1q9v {
  color: hotpink;
}
._1wybfyhu {
  font-size: 48px;
}
._ca0qviql {
  padding-top: 2rem;
}
._n3tdviql {
  padding-bottom: 2rem;
}
._2hwx78gw {
  margin-right: -3rem;
}
._otyrmxpn {
  margin-bottom: 6rem;
}
._18u078gw {
  margin-left: -3rem;
}
._1kl7ajei {
  border-left: 3px solid var(--_6oohme);
}
._bfhk1hpy {
  background-color: #8777d926;
}
._clfdidpf p {
  margin-top: 0;
}
._11pqidpf p {
  margin-right: 0;
}
._q0a5idpf p {
  margin-bottom: 0;
}
._c3k8idpf p {
  margin-left: 0;
}
._1wyb1xfb {
  font-size: 1.25em;
}
._y3gnusic {
  text-align: right;
}
._1p1d1dk0 {
  text-transform: capitalize;
}
._4t3iu29b {
  height: 80px;
}
._ca0q12bs {
  padding-top: 4rem;
}
._u5f312bs {
  padding-right: 4rem;
}
._n3td12bs {
  padding-bottom: 4rem;
}
._19bv12bs {
  padding-left: 4rem;
}
._bfhkfutg {
  background-color: #fafbfc;
}
._43ds1r31 a {
  color: currentColor;
}
._59381r31 a {
  -webkit-text-decoration-color: currentColor;
  text-decoration-color: currentColor;
}
._yha2glyw a {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}
._1nmznqa1 a {
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
}
._9oik1r31:hover {
  -webkit-text-decoration-color: currentColor;
  text-decoration-color: currentColor;
}
._1bnx8stv:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
._jf4cnqa1:hover {
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
}
._30l3epyi:hover {
  color: rgba(255, 255, 255, 0.9);
}
._30l39ron:hover {
  color: var(--_6oohme);
}
._irr3mlcl:hover {
  background-color: #8777d9;
}
._aetrb3bt:after {
  content: '';
}
._1ywu1ule:after {
  display: block;
}
._18postnw:after {
  position: absolute;
}
._1hfk1r31:after {
  background-color: currentColor;
}
._z0ai1fwx:after {
  width: 12px;
}
._1qdg1f4h:after {
  height: 28px;
}
._15l2myb0:after {
  top: -4px;
}
._32rxnh1r:after {
  right: -13px;
}
._11fnglyw:after {
  pointer-events: none;
}
._aetr16l8:after {
  content: '›';
}
._32rxlgv5:after {
  right: -2rem;
}
._1di6vctu:active {
  background-color: #5243aa;
}
@media only screen and (min-width: 500px) {
  ._1ixz1x4e {
    font-size: 1em;
  }
  ._1b8abfng {
    font-weight: 500;
  }
}
@-webkit-keyframes move {
  to {
    transform: translateX(25%);
  }
}
@keyframes move {
  to {
    transform: translateX(25%);
  }
}
@media only screen and (min-width: 900px) {
  [data-look='h100']._1u8h1ex1 {
    font-size: 52px;
  }
  [data-look='h100']._ybgv1wqb {
    line-height: 60px;
  }
}
@media only screen and (min-width: 900px) {
  ._131w1nu9 {
    display: inline;
  }
}
